#issueTickets_content .search span { display: inline-block; width: 100px; text-align: right; }
#issueTickets_content .search input[type='text'] { width: 160px; height: 20px; }
#issueTickets_content .search select { width: 164px; height: 28px; }