#scenicRoute_content .search input, #scenicRoute_content .search select { margin-right: 2em; }
#scenicRoute_content .search input[type='text'] { width: 140px; height: 20px; }
#scenicRoute_content .search select { width: 100px; height: 28px; }
#scenicRoute_content .searchResult .btn { margin-top: -36px; }