/*reset*/
html,body { margin: 0;padding: 0; font-family: 黑体; height: 100%; }
a { text-decoration: none; }

/*common*/
.l { float: left; }
.r { float: right; }
.module { display: inline-block; width: 94px; text-align: center; }

/*header*/
#header { width: 100%; min-width: 1280px; height: 116px; background: url(img/header-bg.jpg) no-repeat; background-size: cover; position: relative; }
#logo { width: 350px; margin: 38px 0 0 124px; font-size: 28px; color: #fff; }

/*main*/
#main { background-color: #fff; height: 84%; min-height: 642px; }
#main .container { position: relative; width: 90%; min-width: 1236px; height: 100%; }

/*footer*/
#footer { width: 100%; height: 42px; background-color: #023d88; }
#footer p { margin: 0; padding: 5px; text-align: right; line-height: 32px; font-size: 16px; color: #fff; }
