body {
	min-width: 1350px;
	background-color: #f5f7fa;
	font-family: "微软雅黑";
	color: #333
}

input[type="text"], input[type="password"], select {
	width: 180px;
	height: 30px;
	padding: 0 4px;
	border-radius: 4px;
	border: 2px solid #dcdcdc
}

select:disabled {
	background-color: #dcdcdc
}

em {
	font-style: normal
}

table {
	line-height: 30px
}

.container {
	width: 1350px;
	margin: 0 auto
}

.box {
	margin-top: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 4px
}

.pBox {
	padding: 20px
}

.color {
	color: #2b7dbc
}

.color1 {
	color: #ffb752
}

.checkbox {
	position: relative;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border: 1px solid #333;
	background-color: #fff
}

.checkbox * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.checkbox input {
	margin: 0;
	opacity: 0
}

.checkbox span {
	display: none;
	line-height: 20px;
	text-align: center
}

.checkbox .icon-checkmark:before {
	display: inline-block;
	width: 100%;
	height: 100%
}

.select {
	width: 180px;
	height: 30px
}

.select select {
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: transparent;
	padding-right: 14px
}

.select select:disabled {
	background-color: #f0f0f0
}

.l {
	float: left
}

.r {
	float: right
}

.clearfix {
	*zoom: 1
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both
}

.imgBox {
	vertical-align: middle
}

.imgBox img {
	width: 100%
}

.btn1, .btn2 {
	padding: 0 20px;
	line-height: 30px;
	border: none;
	border-radius: 4px;
	font-weight: bolder;
	color: #fff
}

.btn1 {
	background-color: #2b7dbc
}

.btn2 {
	background-color: #ffb752
}

.inputNum {
	overflow: hidden
}

.inputNum span {
	float: left;
	padding: 0 8px;
	line-height: 28px;
	border: 1px solid #dcdcdc;
	cursor: pointer
}

.inputNum span.disabled {
	background-color: #f5f5f5;
	color: #dcdcdc;
	cursor: default
}

.inputNum input {
	float: left;
	width: 32px;
	border-width: 1px;
	border-radius: 0;
	text-align: center
}

#header {
	background-color: #2b7dbc;
	color: #fff
}

#header .container {
	padding: 10px 40px
}

#logo h1 {
	font-size: 24px
}

#logo .imgBox {
	vertical-align: sub
}

#mainNav ul {
	margin: 0;
	padding: 0
}

#mainNav li {
	display: inline-block
}

#mainNav a {
	display: block;
	padding: 4px 10px;
	color: #fff
}

#mainNav .active {
	border-bottom: 2px solid #ffb752;
	font-size: 1.2em
}

.main {
	padding-bottom: 20px;
	font-size: 14px
}

.main .routeInfo label {
	margin-left: 20px
}

.main .step {
	margin: 40px 0;
	text-align: center
}

.main .step ul {
	display: inline-block;
	margin: 0;
	padding: 0
}

.main .step li {
	position: relative;
	display: inline-block;
	color: #2b7dbc
}

.main .step li+li {
	margin-left: 50px
}

.main .step .num {
	position: absolute;
	left: -24px;
	bottom: -10px;
	width: 24px;
	line-height: 20px;
	background-color: #fff;
	border: 2px solid #2b7dbc;
	border-radius: 50%
}

.main .step .title {
	padding: 10px 20px;
	border-bottom: 4px solid #2b7dbc;
	font-weight: bolder
}

.main .step .active {
	color: #ffb752
}

.main .step .active .num {
	border-color: #ffb752
}

.main .step .active .title {
	border-bottom-color: #ffb752
}

.main .fillForm {
	width: 70%
}

.main .fillForm h3 {
	padding: 4px 10px;
	border-bottom: 2px solid #2b7dbc
}

.main .fillForm .formBox {
	margin-bottom: 20px
}

.main .orderForm {
	width: 28%;
	font-size: 14px
}

.main .orderForm td {
	min-width: 40px;
	border: 1px solid #dcdcdc
}

.main .orderForm tr td:first-child {
	text-align: left
}

.main .orderForm .price {
	color: #ffb752
}

.main .orderForm .title {
	font-weight: bolder
}

.main .orderForm .totalPrice {
	padding: 4px 10px;
	border-bottom: 2px solid #2b7dbc;
	font-size: 18px;
	font-weight: bolder
}

.main .orderForm .head {
	padding: 10px 0
}

.main .orderForm .btnBox {
	margin-top: 20px;
	text-align: center
}

.main .orderForm .btnBox input {
	width: 100%;
	cursor: pointer
}
.orderForm table tr td:nth-child(1){width:205px;}
.orderForm table tr td:nth-child(2){width:50px;}
.orderForm table tr td:nth-child(3){}

/*# sourceMappingURL=public.css.map */